In [9]:
import pandas as pd
df = pd.read_csv('taipei_season.csv')
df['季節'].unique()
dict1 = {'冬季':1, '春雨':2, '梅雨':3, '夏季':4, '秋季':5}
df['季節'].replace(dict1, inplace=True)
df1 = df[['平均氣溫[0C]','平均相對溼度[%]','日照時數[小時]','降水量[毫米]','降水日數[日]']]
df1

     平均氣溫[0C]  平均相對溼度[%]  日照時數[小時]  降水量[毫米]  降水日數[日]
0        17.8         77      74.1    189.4       18
1        16.7         75      79.1     93.0       13
2        18.8         75      69.9     34.4        5
3        19.9         69     117.7     49.1       11
4        21.1         74      53.6    253.0       21
..        ...        ...       ...      ...      ...
117      27.3         74     160.0    256.0       15
118      24.2         79      77.2    449.5       20
119      23.6         83     102.8    119.5        5
120      16.6         82      56.6     90.5       18
121      17.0         77      88.0     28.0       10

[122 rows x 5 columns]

In [8]:
import pandas as pd
df = pd.DataFrame('taipei_season.csv')
df1 = df[['平均氣溫[0C]','平均相對溼度[%]','日照時數[小時]','降水量[毫米]','降水日數[日]']]
df1

ValueError: DataFrame constructor not properly called!